<div class="jumbotron">
  <h1 class="title">WDStore西东商城</h1>
  <p class="slogan">在这里，我们为您精心挑选商品
  <br>爱自己，爱他人，让生活更美好
</p>
  <p class="lead">
    <a class="btn btn-lg btn-danger" href="/products">开始购物</a>
  </p>
</div>
