<!--part1-->
<div class="container">
	<div class="row">
    <div class="callout text-center fade-in-b">
				<h1>得到精品 - <b>专栏订阅</b> - 你的专属翰林院 <a href="#" class="btn btn-default">立即订购</a></h1>
        <br>
        <div class="col-xs-12">
            <div class="carousel slide" id="myCarousel1">
                <div class="carousel-inner">
                    <div class="item active">
                            <ul class="thumbnails">
                                <li class="col-sm-3">
            						<div class="fff">
        								<div class="thumbnail">
        									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a3134399af0.jpg" alt=""></a>
        								</div>
        								<div class="caption">
        									<h4>通往财富自由之路</h4>
        									<p>李笑来的财富自由战斗组<br>人人都有至少一次机会</p>
        									<a class="btn btn-mini" href="#">» 开始学习吧</a>
        								</div>
                                    </div>
                                </li>
                                <li class="col-sm-3">
        							<div class="fff">
        								<div class="thumbnail">
        									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a314e1a1d5e.jpg" alt=""></a>
        								</div>
        								<div class="caption">
        									<h4>精英日课</h4>
        									<p>万维刚的1043任意门<br>帮你和全球精英大脑同步</p>
        									<a class="btn btn-mini" href="#">» 开始学习吧</a>
        								</div>
                                    </div>
                                </li>
                                <li class="col-sm-3">
        							<div class="fff">
        								<div class="thumbnail">
        									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a31530cd772.jpg" alt=""></a>
        								</div>
        								<div class="caption">
        									<h4>硅谷来信</h4>
        									<p>吴军的军机处<br>像时代领航者一样思考</p>
        									<a class="btn btn-mini" href="#">» 开始学习吧</a>
        								</div>
                                    </div>
                                </li>
                                <li class="col-sm-3">
        							<div class="fff">
        								<div class="thumbnail">
        									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a3154d261d5.jpg" alt=""></a>
        								</div>
        								<div class="caption">
        									<h4>关系攻略</h4>
        									<p>熊太行的关系户<br>残酷社会生存法则</p>
        									<a class="btn btn-mini" href="#">» 开始学习吧</a>
        								</div>
                                    </div>
                                </li>
                            </ul>
                      </div><!-- /Slide1 -->
                    <div class="item">
                            <ul class="thumbnails">
                                <li class="col-sm-3">
        							<div class="fff">
        								<div class="thumbnail">
        									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a31590a7e72.jpg" alt=""></a>
        								</div>
        								<div class="caption">
        									<h4>李翔商业内参</h4>
        									<p>李翔的参议院<br>你的私家商业秘书</p>
        									<a class="btn btn-mini" href="#">» 开始学习吧</a>
        								</div>
                                    </div>
                                </li>
                                <li class="col-sm-3">
        							<div class="fff">
        								<div class="thumbnail">
        									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a315ddc192d.jpg" alt=""></a>
        								</div>
        								<div class="caption">
        									<h4>5分钟商学院</h4>
        									<p>刘润的学生会<br>帮你当好自己的CEO</p>
        									<a class="btn btn-mini" href="#">» 开始学习吧</a>
        								</div>
                                    </div>
                                </li>
                                <li class="col-sm-3">
        							<div class="fff">
        								<div class="thumbnail">
        									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a316186977f.jpg" alt=""></a>
        								</div>
        								<div class="caption">
        									<h4>樊登读书</h4>
        									<p>樊登的读书会<br>更少时间，更多干货</p>
        									<a class="btn btn-mini" href="#">» 开始学习吧</a>
        								</div>
                                    </div>
                                </li>
                                <li class="col-sm-3">
        							<div class="fff">
        								<div class="thumbnail">
        									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a316813d714.jpg" alt=""></a>
        								</div>
        								<div class="caption">
        									<h4>超级个体</h4>
        									<p>古典的超级共同体<br>帮你成为职场高手</p>
        									<a class="btn btn-mini" href="#">» 开始学习吧</a>
        								</div>
                                    </div>
                                </li>
                            </ul>
                      </div><!-- /Slide2 -->
                    <div class="item">
                            <ul class="thumbnails">
                                <li class="col-sm-3">
        							<div class="fff">
        								<div class="thumbnail">
        									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a316c04f6a2.jpg" alt=""></a>
        								</div>
        								<div class="caption">
        									<h4>王烁大学问</h4>
        									<p>王烁大学堂<br>带你共读美国名校</p>
        									<a class="btn btn-mini" href="#">» 开始学习吧</a>
        								</div>
                                    </div>
                                </li>
                                <li class="col-sm-3">
        							<div class="fff">
        								<div class="thumbnail">
        									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a318023be4f.jpg" alt=""></a>
        								</div>
        								<div class="caption">
        									<h4>槽边往事</h4>
        									<p>和菜头的围炉夜话<br>我所说的都是错的</p>
        									<a class="btn btn-mini" href="#">» 开始学习吧</a>
        								</div>
                                    </div>
                                </li>
                                <li class="col-sm-3">
        							<div class="fff">
        								<div class="thumbnail">
        									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a31862a790b.jpg" alt=""></a>
        								</div>
        								<div class="caption">
        									<h4>前哨王煜全</h4>
        									<p>王煜全的哨所观察<br>你的全球科技创新侦查兵</p>
        									<a class="btn btn-mini" href="#">» 开始学习吧</a>
        								</div>
                                    </div>
                                </li>
                                <li class="col-sm-3">
        							<div class="fff">
        								<div class="thumbnail">
        									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a318d709def.jpg" alt=""></a>
        								</div>
        								<div class="caption">
        									<h4>雪枫音乐会</h4>
        									<p>雪枫的音乐私塾<br>带你听懂260首古典音乐</p>
        									<a class="btn btn-mini" href="#">» 开始学习吧</a>
        								</div>
                                    </div>
                                </li>
                            </ul>
                      </div><!-- /Slide3 -->
                </div>


        	   <nav>
        			<ul class="control-box pager">
        				<li><a data-slide="prev" href="#myCarousel1" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
        				<li><a data-slide="next" href="#myCarousel1" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
        			</ul>
        		</nav>
        	   <!-- /.control-box -->

            </div><!-- /#myCarousel -->

        </div><!-- /.col-xs-12 -->
		</div>
	</div>

</div>
<!--part2-->
<div class="container">
<div class="row">
				<div class="callout text-center fade-in-b">
					<h1>得到精品 - <b>每天听本书</b> - 超越大多数 <a href="#" class="btn btn-danger">查看书单</a></h1>
          <br>
          <div class="col-xs-12">
              <div class="carousel slide" id="myCarousel2">
                  <div class="carousel-inner">
                      <div class="item active">
                              <ul class="thumbnails">
                                  <li class="col-sm-3">
              						<div class="fff">
          								<div class="thumbnail">
          									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a3285175f4a.png" alt=""></a>
          								</div>
          								<div class="caption">
          									<h4>每天最重要的两小时</h4>

          									<a class="btn btn-mini" href="#">» 开始学习吧</a>
          								</div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
          							<div class="fff">
          								<div class="thumbnail">
          									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a32851cd67d.png" alt=""></a>
          								</div>
          								<div class="caption">
          									<h4>慢思考</h4>

          									<a class="btn btn-mini" href="#">» 开始学习吧</a>
          								</div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
          							<div class="fff">
          								<div class="thumbnail">
          									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a3285b27ed3.png" alt=""></a>
          								</div>
          								<div class="caption">
          									<h4>无为</h4>

          									<a class="btn btn-mini" href="#">» 开始学习吧</a>
          								</div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
          							<div class="fff">
          								<div class="thumbnail">
          									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a328f2c7532.png" alt=""></a>
          								</div>
          								<div class="caption">
          									<h4>翻转式学习</h4>

          									<a class="btn btn-mini" href="#">» 开始学习吧</a>
          								</div>
                                      </div>
                                  </li>
                              </ul>
                        </div><!-- /Slide1 -->
                      <div class="item">
                              <ul class="thumbnails">
                                  <li class="col-sm-3">
          							<div class="fff">
          								<div class="thumbnail">
          									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a46ac9e6056.png" alt=""></a>
          								</div>
          								<div class="caption">
          									<h4>优秀的绵羊</h4>

          									<a class="btn btn-mini" href="#">» 开始学习吧</a>
          								</div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
          							<div class="fff">
          								<div class="thumbnail">
          									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a46accc4898.png" alt=""></a>
          								</div>
          								<div class="caption">
          									<h4>简单思考</h4>

          									<a class="btn btn-mini" href="#">» 开始学习吧</a>
          								</div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
          							<div class="fff">
          								<div class="thumbnail">
          									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a46ace13f3d.png" alt=""></a>
          								</div>
          								<div class="caption">
          									<h4>分享时代，如何缔造影响力</h4>

          									<a class="btn btn-mini" href="#">» 开始学习吧</a>
          								</div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
          							<div class="fff">
          								<div class="thumbnail">
          									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a46acf8b046.png" alt=""></a>
          								</div>
          								<div class="caption">
          									<h4>混乱</h4>

          									<a class="btn btn-mini" href="#">» 开始学习吧</a>
          								</div>
                                      </div>
                                  </li>
                              </ul>
                        </div><!-- /Slide2 -->
                      <div class="item">
                              <ul class="thumbnails">
                                  <li class="col-sm-3">
          							<div class="fff">
          								<div class="thumbnail">
          									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a46ad09f119.png" alt=""></a>
          								</div>
          								<div class="caption">
          									<h4>学会提问</h4>

          									<a class="btn btn-mini" href="#">» 开始学习吧</a>
          								</div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
          							<div class="fff">
          								<div class="thumbnail">
          									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a46ad30881a.png" alt=""></a>
          								</div>
          								<div class="caption">
          									<h4>安静的力量</h4>

          									<a class="btn btn-mini" href="#">» 开始学习吧</a>
          								</div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
          							<div class="fff">
          								<div class="thumbnail">
          									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a46ad4c655b.png" alt=""></a>
          								</div>
          								<div class="caption">
          									<h4>为什么常识会说谎</h4>

          									<a class="btn btn-mini" href="#">» 开始学习吧</a>
          								</div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
          							<div class="fff">
          								<div class="thumbnail">
          									<a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a476284fb65.png" alt=""></a>
          								</div>
          								<div class="caption">
          									<h4>显微镜下的大明</h4>

          									<a class="btn btn-mini" href="#">» 开始学习吧</a>
          								</div>
                                      </div>
                                  </li>
                              </ul>
                        </div><!-- /Slide3 -->
                  </div>


          	   <nav>
          			<ul class="control-box pager">
          				<li><a data-slide="prev" href="#myCarousel2" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
          				<li><a data-slide="next" href="#myCarousel2" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
          			</ul>
          		</nav>
          	   <!-- /.control-box -->

              </div><!-- /#myCarousel -->

          </div><!-- /.col-xs-12 -->
        </div>
			</div>
    </div>

<!--part3-->
<div class="container">
<div class="row">
				<div class="callout text-center fade-in-b">
					<h1>得到精品 - <b>精选音频</b> - 满满干货 <a href="#" class="btn btn-warning">开始听吧</a></h1>
          <br>
          <div class="col-xs-12">
              <div class="carousel slide" id="myCarousel3">
                  <div class="carousel-inner">
                      <div class="item active">
                              <ul class="thumbnails">
                                  <li class="col-sm-3">
                          <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a3298198fa0.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>奥巴马经典演讲解读</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a3298267993.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>说服爸妈远离谣言侵害</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a3298377fa3.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>李笑来线下大课精华</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a3298484b5f.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>罗胖2016年跨年演讲</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                              </ul>
                        </div><!-- /Slide1 -->
                      <div class="item">
                              <ul class="thumbnails">
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a4792eba0d4.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>三体</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a47930a91e6.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>自我介绍让人印象深刻</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a4793348ef8.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>显微镜下的大明</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a479350c77f.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>谷歌工作整理术</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                              </ul>
                        </div><!-- /Slide2 -->
                      <div class="item">
                              <ul class="thumbnails">
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a4793610319.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>工作三年获得十年经验</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a479372bcec.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>如何成为面试赢家</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a479388aa72.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>搞定大公司的简历</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/15/58a47939a0425.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>面试时如何谈薪水</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                              </ul>
                        </div><!-- /Slide3 -->
                  </div>


               <nav>
                <ul class="control-box pager">
                  <li><a data-slide="prev" href="#myCarousel3" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                  <li><a data-slide="next" href="#myCarousel3" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
                </ul>
              </nav>
               <!-- /.control-box -->

              </div><!-- /#myCarousel -->

          </div><!-- /.col-xs-12 -->
        </div>
			</div>
    </div>

<!--part4-->
<div class="container">
<div class="row">
				<div class="callout text-center fade-in-b">
					<h1>得到精品 - <b>电子书</b> - 掌上阅读 <a href="#" class="btn btn-danger">开始选书</a></h1>
          <br>
          <div class="col-xs-12">
              <div class="carousel slide" id="myCarousel4">
                  <div class="carousel-inner">
                      <div class="item active">
                              <ul class="thumbnails">
                                  <li class="col-sm-3">
                          <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/16/58a47bea32e92.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>隐形的领导</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/16/58a47bebf2567.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>国家的品格</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/16/58a47bed07dac.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>权力的终结</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/16/58a47bee6ca8a.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>情商</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                              </ul>
                        </div><!-- /Slide1 -->
                      <div class="item">
                              <ul class="thumbnails">
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/16/58a47befe79df.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>极简人类史</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/16/58a47bf108009.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>选择，不做抉择</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/16/58a47caf19f2b.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>领导梯队</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/16/58a47cb043451.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>清醒思考的艺术</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                              </ul>
                        </div><!-- /Slide2 -->
                      <div class="item">
                              <ul class="thumbnails">
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/16/58a47cb13e0d1.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>情商4</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/16/58a47cb36ec2f.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>疯狂的简洁</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/16/58a47cb4bc060.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>显微镜下的大明</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/16/58a47cb580b6b.png" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>分水岭大时代</h4>

                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                              </ul>
                        </div><!-- /Slide3 -->
                  </div>


               <nav>
                <ul class="control-box pager">
                  <li><a data-slide="prev" href="#myCarousel4" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                  <li><a data-slide="next" href="#myCarousel4" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
                </ul>
              </nav>
               <!-- /.control-box -->

              </div><!-- /#myCarousel -->

          </div><!-- /.col-xs-12 -->
				</div>
			</div>
    </div>


<!--part5-->
<div class="container">
<div class="row">
				<div class="callout text-center fade-in-b">
					<h1>得到精品 - <b>每日金句</b> - 每天收获一点点 <a href="#" class="btn btn-success">随便看看</a></h1>
          <br>
          <div class="col-xs-12">
              <div class="carousel slide" id="myCarousel5">
                  <div class="carousel-inner">
                      <div class="item active">
                              <ul class="thumbnails">
                                  <li class="col-sm-3">
                          <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a3134399af0.jpg" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>通往财富自由之路</h4>
                            <p>李笑来的财富自由战斗组<br>人人都有至少一次机会</p>
                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a314e1a1d5e.jpg" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>精英日课</h4>
                            <p>万维刚的1043任意门<br>帮你和全球精英大脑同步</p>
                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a31530cd772.jpg" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>硅谷来信</h4>
                            <p>吴军的军机处<br>像时代领航者一样思考</p>
                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a3154d261d5.jpg" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>关系攻略</h4>
                            <p>熊太行的关系户<br>残酷社会生存法则</p>
                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                              </ul>
                        </div><!-- /Slide1 -->
                      <div class="item">
                              <ul class="thumbnails">
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a31590a7e72.jpg" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>李翔商业内参</h4>
                            <p>李翔的参议院<br>你的私家商业秘书</p>
                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a315ddc192d.jpg" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>5分钟商学院</h4>
                            <p>刘润的学生会<br>帮你当好自己的CEO</p>
                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a316186977f.jpg" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>樊登读书</h4>
                            <p>樊登的读书会<br>更少时间，更多干货</p>
                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a316813d714.jpg" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>超级个体</h4>
                            <p>古典的超级共同体<br>帮你成为职场高手</p>
                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                              </ul>
                        </div><!-- /Slide2 -->
                      <div class="item">
                              <ul class="thumbnails">
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a316c04f6a2.jpg" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>王烁大学问</h4>
                            <p>王烁大学堂<br>带你共读美国名校</p>
                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a318023be4f.jpg" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>槽边往事</h4>
                            <p>和菜头的围炉夜话<br>我所说的都是错的</p>
                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a31862a790b.jpg" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>前哨王煜全</h4>
                            <p>王煜全的哨所观察<br>你的全球科技创新侦查兵</p>
                            <a class="btn btn-mini" href="#">» 开始学习吧</a>
                          </div>
                                      </div>
                                  </li>
                                  <li class="col-sm-3">
                        <div class="fff">
                          <div class="thumbnail">
                            <a href="#"><img src="https://ooo.0o0.ooo/2017/02/14/58a318d709def.jpg" alt=""></a>
                          </div>
                          <div class="caption">
                            <h4>雪枫音乐会</h4>
                            <p>雪枫的音乐私塾<br>带你听懂260首古典音乐</p>
                            <a class="btn btn-mini" href="#">» Read More</a>
                          </div>
                                      </div>
                                  </li>
                              </ul>
                        </div><!-- /Slide3 -->
                  </div>


               <nav>
                <ul class="control-box pager">
                  <li><a data-slide="prev" href="#myCarousel5" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                  <li><a data-slide="next" href="#myCarousel5" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
                </ul>
              </nav>
               <!-- /.control-box -->

              </div><!-- /#myCarousel -->

          </div><!-- /.col-xs-12 -->
				</div>
			</div>
    </div>
