// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products-1 {
  width: 800px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.products-1 .introduction {
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.products-1 .introduction-sub {
  text-align: center;;
  padding-bottom: 20px;
}

.proposal-product {
  background: #fff;
  .item {
    margin-bottom: 15px;
  }

  h2 {
    color: #fff;
    margin-bottom: 2px dotted #f5f5f5;
    margin-top: 40px;
    padding-bottom: 40px;
  }
  img {
    width: 100%;
    height: 300px;
    display: inline-block;
    vertical-align: middle;
    -moz-transition: transform 10s;
    -webkit-transition: transform 10s;
  }

  .image {
    overflow: hidden;
  }

  div.fig {
    background: #fff;
    padding: 5px;
  }

  .image:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.7;
  }


  .title a {
    color: #FAFAFA;
    text-decoration: none;
  }

  .title a:hover {
    text-decoration: none;
  }

  .actions {
    margin-bottom: 0;
  }

  .actions span, .actions .fa-heart, .actions .fa-heart-o, .actions .fa-shopping-cart {
    color: #e15336;
  }

  .fa-shopping-cart {
    margin-right: 0px;
  }

  .actions .fa-heart, .actions .fa-heart-o {
    color: #ff6d53;
  }

  .actions i.sub {
    color: #999;
    margin-top: 10px;
    margin-right: 0px;
  }
}

.ending {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.page-footer {
  width: 50%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #D3D3D3;
}

//products.show
body {
  font-family: 'open sans';
  overflow-x: hidden; }

img {
  max-width: 100%; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
