<div class="products-1">
  <h3 class="introduction">得到商店</h3>
  <h4 class="introduction-sub">感谢光临得到商店，欢迎你成为一名终身学习者</h4>
  <div class="row">
    <%= render :partial => "product_items", :collection => @products, :as => :product %>
  </div>
  <p class=" text-center ending">
    没有更多商品了
  </p>
</div>
